@import 'movies/movies-list.css';
@import 'movies/movies-detail.css';
@import 'bootstrap/bootstrap.css';

@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
.navbar-nav a{
  color: white;
  padding: 1rem;
}

a:hover{
  text-decoration: none;

}
.dropleft .desplegable-genres a{
  color:black;
}
.dropleft .desplegable-genres{
  display: grid;
  grid-template-columns: repeat(4,1fr);
}
.navbar-laravel {
    background-color: #272727;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
.navbar-laravel .navbar-brand{
  color: white;
}
.navbar-light .navbar-nav .nav-link, .navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link .show {
  color: white!important
}
  
  @font-face{
    font-family: 'Roboto-Regular';
    src: url('../fonts/Roboto-Regular.ttf'); 
  }
  @font-face{
    font-family: 'Roboto-Medium';
    src: url('../fonts/Roboto-Medium.ttf'); 
  }
  @font-face{
    font-family: 'Roboto-Light';
    src: url('../fonts/Roboto-Light.ttf'); 
  }
  @font-face{
    font-family: 'Roboto-Bold';
    src: url('../fonts/Roboto-Bold.ttf'); 
  }


  
  .input-txt input{
    background-color: #f3f3f3;
    outline: none;
    border: none;
    padding: 0.6em 1em;
    border-radius: 1.5em;
  }